<div class = "guidelines" lang="ar" dir = "rtl">
    {{guidelines}}
    <br>
    <button ngbDropdownItem><a [routerLink] = "['/academy']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">אני מאשר את תנאי השימוש</a></button>
</div> 
    