<div class="columnmid" dir="rtl" lang="ar"  style="text-align: right; font-size: 70%;">
<h2>איך סוחר מתחיל צריך להתחיל לסחור ?</h2>
<br>
שלב ראשון-למידת החומר:
שלב ראשון של כל סוחר מתחיל הוא שלב הלמידה והוא השלב החשוב ביותר במסחר, 
בשלב זה אתה בעצם לומד את הכלים שלך, איך באמת לנתח את הגרף ואיך להבין מה
יקרה הלאה ולהרוויח כסף.
<br>
בשלב הלמידה יש הרבה נושאים עליהם צריך לעבור ולהצטיין בהם כדי להיות סוחר רווחי.
תחילה קצת רקע על מט"ח, כדי שתוכלו להבין באמת על מה מדובר בכל ה"סינית" שאתם
רואים תצטרכו קצת רקע על השוק ובכלל על מט"ח.
דבר נוסף בו נצטרך להתמקצע הוא הפרקטיקה. כלומר הדרך שבה מנתחים את הגרף
ומסיקים מה יקרה הלאה.
ועוד משהו חשוב שאסור לשכוח הוא ניהול סיכונים. בלי ניהול סיכונים נכון אתה
יכול להיות סוחר מוצלח עם 80% הצלחה בעסקאות שלך אך עדיין תפסיד כסף בסוף
ולכן חשוב ללמוד איך לנהל את הכסף בחשבון בצורה נכונה שבה תרוויח כסף
ולא תפסיד.
<br>
דבר אחרון שנצטרך להשקיע בו לפני שנכנס למסחר בחשבון דמו הוא
פסיכולוגית מסחר. השוק בסופו של דבר "משחק" לנו ברגשות ואסור לנו ליפול למשחקים
ולמניפולציות שקורות בשוק, לכן חשוב ללמוד על פסיכולוגית המסחר לפני שנעבור לסחור
עם חשבון דמו.
<br>
<br>

שלב שני- בשלב השני לאחר שלמדנו את כל החומר והתקמצענו בו כמו שצריך אנחנו נעבור
להשתמש בחשבון הדמו.
מה זאת אומרת ?
חשבון דמו הוא חשבון אמיתי לכל דבר אך הכסף בו "מזוייף" כלומר העסקאות שתנתח
ותכניס לחשבון דמו יהיו זהות במדויק לאם תכניס אותם לחשבון אמיתי. ובגלל זה
חשבון הדמו הוא היתרון שלנו בתהליך ההכשרה שלנו להיות סוחרים מקצוענים.
<br> בחשבון
הדמו שלנו נוכל לנסות כל מיני שיטות חדשות שאנחנו לומדים ולהתמקצע בשוק בלי להשקיע כסף בכלל. אני ממליץ להשתמש בחשבון הדמו תקופה לא
מבוטלת עד שאתה מבין שאתה באמת סוחר טוב והכל עובד כמו שצריך. לאחר מכן
אפשר לעבור לחשבון אמיתי וכבר להתחיל להרוויח כסף לאחר שהבנת שהשיטה
שלך עובדת בחשבון הדמו.
<br>
<br>
שלב שלישי- בשלב השלישי סיימנו כבר עם חשבון הדמו לאחר תקופה שעבדנו איתו
ובדקנו כל שיטה אפשרית שרק עולה בדעתנו, עלינו על אסטרטגיית מסחר טובה
וראינו שהצלחנו להגיע לרווחיות בחשבון הדמו. שלב זה הוא השלב האחרון לפני
שנתחיל לסחור בחשבון אמיתי ובשלב הזה נצטרך קודם כל וכמובן שיהיה לנו את כל מה
שצריך מבחינה טכנית בשביל לסחור בכל זמן בכל מקום (טלפון , אינטרנו וכו') ובנוסף
נצטרך לפתוח את החשבון האמיתי שלנו אצל ברוקר מסויים - השער שלנו אל הבורסה
כיוון שאנחנו לא יכולים לסחור ישירות בבורסה . הסכום המינימלי לפתיחת חשבון מסחר
במט"ח הוא 100$
</div>