<ng-container
*ngIf="needSurvey; then form; else journey">
</ng-container>

<ng-template #form>
    <h3>האם אתה מתאים לשירותי ה Forex Signals?</h3>
    <p>למניות, אופציות, אופציות בינאריות, מסחר במט״ובחוזים עתידיים יש יתרונות פוטנציאליים גדולים אך גם סיכון גדול. עליכם להיות מודעים לסיכונים ולהיות מוכנים לקבל אותם על מנת להשקיע במניות, 
        באופציות בינאריות, או בשווקים העתידיים, אל תסחרו בסכומים שלא תוכלו להרשות לעצמכם להפסיד , במחיודם לא במסחר ממונף כמו מסחר במט״ח. 
        ביצועי העבר של מערכת המסחר או מתודולוגיה אינם מעידים בהכרח על תוצאות עתידיות. אתם עלולים להפסיד את כל הכסף שלכם בשל תנאי מסחר ירודים בשוק, שגיאה מכנית, שגיאה שנגרמת כתוצאה מרגשת הפתעות חדשות ועוד.
        MaxProfit אינה נושאת באחריות לאובדן שנגרם כתוצאה כתוצאות מאותות במסחר שלנו או מכניסה למועדונים השונים.
    </p>
    <form class="fit-telegram-survey">
        <label>האם השתתפת איי פעם בלימודי מסחר?</label>
        <br>
        <label><input type="radio" name="pastExperience" required value=true [(ngModel)]="survey.pastExperience">כן</label>
        <br>
        <label><input type="radio" name="pastExperience" required value=false [(ngModel)]="survey.pastExperience">לא</label>
        <br>
        <br>
        <label>איזו מהאמירות הבאות נכונה לגבי מסחר ממונף?</label>
        <br>
        <label><input type="radio" name="treeSayings" required value=1 [(ngModel)]="survey.treeSayings">המינוף עשוי להגדיל את הרווחים או את ההפסדים.</label>
        <br>
        <label><input type="radio" name="treeSayings" required value=2 [(ngModel)]="survey.treeSayings">מסחר ממונף אינו מסוכן.</label>
        <br>
        <label><input type="radio" name="treeSayings" required value=3 [(ngModel)]="survey.treeSayings">אף אחד מהנ״ל.</label>
        <br>
        <br>
        <label>אם אתה סוחר במינוף של 1:100 ויש לך 1,000$ בחשבון, מה גובה הפוזיציות המקסימלי שתוכל לפתוח?</label>
        <br>
        <label><input type="radio" name="MaxPosition" required value=1 [(ngModel)]="survey.MaxPosition">1000$</label>
        <br>
        <label><input type="radio" name="MaxPosition" required value=2 [(ngModel)]="survey.MaxPosition">10,000$</label>
        <br>
        <label><input type="radio" name="MaxPosition" required value=3 [(ngModel)]="survey.MaxPosition">100,000$</label>
        <br>
        <label><input type="radio" name="MaxPosition" required value=4 [(ngModel)]="survey.MaxPosition">1,000,000$</label>
        <br>
        <br>
        <label>הפוזיציות שלי עלולות להסגר באופן אוטומטי כאשר:</label>
        <br>
        <label><input type="radio" name="closePosition" required value=1 [(ngModel)]="survey.closePosition">השוק נע בכיוון הפוזיציות שלי.    </label>
        <br>
        <label><input type="radio" name="closePosition" required value=2 [(ngModel)]="survey.closePosition">השוק נע בכיוון מנוגד לפוזיציות שלי ואין לי מספיק כסף כדי לעמוד בדרישת הבטחונות. </label>
        <br>
        <br>
        <label>כמה פעמים סחרת במסחר ממונף/ חוזי הפרשים (CFD)?</label>
        <br>
        <label><input type="radio" name="CFD" required value=1 [(ngModel)]="survey.CFD">0</label>
        <br>
        <label><input type="radio" name="CFD" required value=2 [(ngModel)]="survey.CFD">-1-10</label>
        <br>
        <label><input type="radio" name="CFD" required value=3 [(ngModel)]="survey.CFD">11-25</label>
        <br>
        <label><input type="radio" name="CFD" required value=4 [(ngModel)]="survey.CFD">25-50</label>
        <br>
        <label><input type="radio" name="CFD" required value=5 [(ngModel)]="survey.CFD">יותר מ50</label>
        <br>
        <br>
        <label>מה היה היקף המסחר של העסקאות האלה ב-$?</label>
        <br>
        <br>
        <label><input type="radio" name="totalAmount" required value=1 [(ngModel)]="survey.totalAmount">1$ - 1000$</label>
        <br>
        <label><input type="radio" name="totalAmount" required value=2 [(ngModel)]="survey.totalAmount">1001$ - 24,999$</label>
        <br>
        <label><input type="radio" name="totalAmount" required value=3 [(ngModel)]="survey.totalAmount">25,000$- 49,000$></label>
        <br>
        <label><input type="radio" name="totalAmount" required value=4 [(ngModel)]="survey.totalAmount">50,000$- 250,000$></label>
        <br>
        <label><input type="radio" name="totalAmount" required value=5 [(ngModel)]="survey.totalAmount">250,000$ +></label>
        <br>
        <br>
        <label>הכניסו את כתובת המייל אם תרצו לקבל את התוצאות לתיבת הדואר</label>
        <br>
        <span style="color: black;"><input type="text" name="email address" [(ngModel)]="survey.mail"></span>
        <br>
        <label><input type="checkbox" name="getMail" value=true [(ngModel)]="survey.getMail">אני מעוניין לקבל דברי דואר מMaxProfit</label>
        <br>
        <div *ngIf="popfailed">
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';" (click)="closePop()">&times;</span> 
               חלק מהתשובות אינן נכונות, נסו שוב!
              </div>
          </div>
        <button style="color: honeydew; background-color: black;" (click)="onSubmit()">submit</button>
    </form>
</ng-template>

<ng-template #journey> 
    <h6>למעבר לערוץ הטלגרם שלנו לחצו על התמונה</h6>
       <a href="https://t.me/maxprofit_teb"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/telegram+icon.png" border ="0" alt="telegram channel" width="150" height="120"/></a>
</ng-template>

