 <div style="white-space: pre-line">
    {{message}}
    <div *ngIf="!logged == true">
        <form class="login">
            <label>כתובת אימייל</label>
            <br>
            <label><input style="color: black;" type="text" name="email" required [(ngModel)]="form.email"></label>
            <br>
            <label>סיסמה</label>
            <br>
            <label><input style="color: black;" type="password" name="password" required [(ngModel)]="form.password"></label>
            <br>
            <button style="color: honeydew; background-color: black;" (click)="onSubmit()">התחברות</button>
        </form>
        <button routerLink="/changepass" style="color: honeydew; background-color: black;">שחזור סיסמה</button>
    </div>
 </div>
    