.footer {
    background-color: rgb(43, 44, 44);
    text-align: right;
    padding: 10px;
  }
  

/* Create three equal columns that floats next to each other */
.columnside{
    width: 25%;
    padding: 15px;
}
.column {
    float: right;
    width: 33.33%;
    padding: 15px;
  }
  .columnsec{
    float: right;
    width: 50.00%;
    padding: 15px;
  }
  .columnmid {
    float: center;
    width: 100%;
    padding: 15px;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column, .columnsec, .columnmid {
      width: 100%;
    }
  }