<p>
    אנחנו בMaxProfit דוגלים בשירות לקוחות ברמה עולמית וכאשר דרים מסתבכים במסחר או בדרך שלכם חשוב שתדעו שיש מי שעומד מאחוריכם.
    לכל עזרה או שאלה שתצטרכו אנחנו כאן! הפניה היא ישירות לסוחר.
</p>
<div class="row">
    <div class="columnsec">
        <img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/nir.png" 
     width="300" height="300" alt="Nir Mazaltarin"/>
        <br>
        <label>
            Nir Mazaltarin
            <br>
            Founder Of MaxProfit
        </label>
        <br>
      <button style="background-color: black;" (click) = "nirContact()" ngbDropdownItem>ליצירת קשר</button>
    </div>
    <div class="columnsec">
        <img src="https://max-profit-contact.s3.eu-central-1.amazonaws.com/WhatsApp+Image+2020-05-27+at+17.19.42+copy.png" 
     width="300" height="300" alt="Nir Mazaltarin"/>
        <br>
        <label>
            Yarom Asaf
            <br>
            MaxProfit Team
        </label>
        <br>
        <button style="background-color: black;" (click)= "yaromContact()" ngDropDownItem>ליצרית קשר</button>
    </div>
</div>
<div class="contact" >
    <div class="yarom" *ngIf="yaromDisp">
        <h1>
            ליצירת קשר עם ירום
        </h1>
        <br>
        <label><input type="email" name="email" required [(ngModel)]="contactForm.email">email</label>
        <br>
        <label><input type="tel" name="tel" required [(ngModel)] = "contactForm.tel">phone number</label>
        <br>
        <textarea name="message" required [(ngModel)]="contactForm.message" rows="15" cols="70"></textarea>
        <br>
        <button style="color: honeydew; background-color: black;" (click)="onSubmit()">submit</button>
    </div>
    <div class="nir" *ngIf="nirDisp">
        <h1>
            ליצירת קשר עם ניר
        </h1>
        <br>
        <label><input type="email" name="email" required [(ngModel)]="contactForm.email">email</label>
        <br>
        <label><input type="tel" name="tel" required [(ngModel)] = "contactForm.tel">phone number</label>
        <br>
        <textarea name="message" required [(ngModel)]="contactForm.message" rows="15" cols="70"></textarea>
        <br>
        <button style="color: honeydew; background-color: black;" (click)="onSubmit()">submit</button>
    </div>
</div>


