<div style="background-color: rgb(50, 50, 50);">
    <mat-toolbar style="background-color: rgb(50, 50, 50);">   
        <a (click)="coursesOn()"><mat-icon style="color: honeydew;">book</mat-icon><br>לקורסים שלנו</a>
         <div class="spacer"></div>
        <a (click)="strategiesOn()"><mat-icon style="color: honeydew;">directions</mat-icon><br>לאסטרטגיות שלנו</a>
    </mat-toolbar>
</div>
<div style="font-size: 70%; text-align: right; " class="columnmid" lang="ar" dir="rtl" *ngIf="coursesChoosen">
    <div *ngIf="courseAllowed == true">
        <h4>בחר קורס:</h4>
        <br>
        <label><input style="color: black;" type="radio" name="course" required value=1 [(ngModel)]="number">הקדמה</label>
        <br>
        <div  *ngIf="number == 1">
            <div class="columnsec"  *ngIf="owned(number)">
                <h5>בחר שיעור</h5>
                <label><input style="color: black;" type="radio" name="course" required value=1 [(ngModel)]="subNumber">ניהול תיק השקעות</label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=2 [(ngModel)]="subNumber">הצוות שלנו</label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=3 [(ngModel)]="subNumber">איך נלמד לקורס</label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=4 [(ngModel)]="subNumber">מה זה מט״ח</label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=5 [(ngModel)]="subNumber">מה אנחנו סוחרים</label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=6 [(ngModel)]="subNumber">איך מרוויחים בשוק המט״ח</label>
                <br> 
                <label><input style="color: black;" type="radio" name="course" required value=7 [(ngModel)]="subNumber">מתי צריך בשביל לסחור? </label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=8 [(ngModel)]="subNumber">מתי נתחיל לסחור? </label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=9 [(ngModel)]="subNumber">היצע וביקוש</label>
                <br>
                <label><input style="color: black;" type="radio" name="course" required value=10 [(ngModel)]="subNumber">ברוקר</label>
                <br> 
            </div>
            <div class="columnsec">
                <div  *ngIf="subNumber == 3">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/HowToStudy.mp4" width="600px" height="370px">
                    </video>
                </div>
                <div   *ngIf="subNumber == 1">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/ManageYourAccount.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div   *ngIf="subNumber == 2">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/TeamMaxprofit.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div   *ngIf="subNumber == 5">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/WhatAreWeTrading.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div  *ngIf="subNumber == 4">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/Forex.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div  *ngIf="subNumber == 8">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/WhenToTrade.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div *ngIf="subNumber == 7">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/TradingPrequirements.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div  *ngIf="subNumber == 9">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/TradingPrequirements.mp4" width="100%" height="100%">
                    </video>
                </div>
                <div *ngIf="subNumber == 10">
                    <video lang="ar" dir="rtl" type="video/mp4" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/prologue/Broker.mp4" width="100%" height="100%">
                    </video>
                </div>
            </div>
            <div  *ngIf="!owned(number) == true">
                קורס לא נקנה
            </div>
        </div>
    </div>
    <div div *ngIf="!courseAllowed == true">
        טקסט הסבר על הקורס    
    </div>
</div>
<div *ngIf="strategiesChoosen">
    <div *ngIf="logged">
        <div *ngIf="strategiesAllowed">
            <title>אסטרטגיות</title>
            <iframe lang="ar" dir="rtl" type="application/pdf" style="border:1px solid black;" allowfullscreen="true" src="https://max-profit-academy.s3.eu-central-1.amazonaws.com/Zone+To+Zone+Strategy.pdf#toolbar=0" width="70%" height="500px">
            </iframe>
        </div>
        <div *ngIf="!strategiesAllowed == true">
            <p>
                אסטרטגיית המסחר הפשוטה ביותר ובגדול הפרקטיקה הטובה ביותר ללימודי מסחר, בתוספת אסטרטגיית סחיטת הרווחים שלנו!
                • כלי פשוט ונגיש!
                • פשוט לבדוק וליישם!
                • להתחיל לעשות מכל 1$ - X10!
                <br>
                מחיר: 100$ עם גישה לערוץ סחיטת העסקאות 
                <br>
                ערוץ סחיטת העסקאות:
                ערוץ שיתן כל יום א עסקה מהשבוע שעבר וכמות העסקאות שניתן לעשות שם לסחיטת מלוא פוטנציאל העסקה להעשרה ולחידוד
                </p>
        </div>
    </div>
    <div div *ngIf="!logged == true">
        <p>
            אסטרטגיית המסחר הפשוטה ביותר ובגדול הפרקטיקה הטובה ביותר ללימודי מסחר, בתוספת אסטרטגיית סחיטת הרווחים שלנו!
            • כלי פשוט ונגיש!
            • פשוט לבדוק וליישם!
            • להתחיל לעשות מכל 1$ - X10!
            
            מחיר: 100$ עם גישה לערוץ סחיטת העסקאות 
            
            
            
            ערוץ סחיטת העסקאות:
            
            ערוץ שיתן כל יום א עסקה מהשבוע שעבר וכמות העסקאות שניתן לעשות שם לסחיטת מלוא פוטנציאל העסקה להעשרה ולחידוד
            </p>
    </div>
</div>