<div class="header" style="text-align: center;"><h3>TEB+</h3></div>
<div class="text">
    <p>
        מועדון חברים ראשוני מסוגו שחבריו יזכו בהרצאות מעולות אודות מסחר, יזמות ועסקים.
        <br>
         חברי המועדון יזכו גם בהנחה משמעותית ברכישת הקורסים והערוצים השונים החל מהחודש השלישי להצתרפותם ויזכו בחולצת  MaxProfit מתנה!
    </p>
</div>
<div class="join" style="text-align: center;">
    <button (click)= "joinClickced()"></button>
    <div div *ngIf="clicked">
        <label>שם מלא</label>
        <br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.fullName">
        <br><br>
        <label>תאריך לידה</label>
        <br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.birthDate">
        <br><br><label>מספר תעודת זהות</label>
        <br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.id">
        <br><br>
        <label>כתובת אימייל</label>
        <br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.email">
        <br><br>
        <label>מספר טלםון</label>
        <br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.phone">
        <br><br>
        <label>עיר מגורים</label>
        <br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.city">
        <br><br>
        <label>רחוב ומספר בית</label><br>
        <input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.streetHouseApp"> <!--מספר בית ודירה-->
        <br><br>
        <button (click) = "submit()">שליחה</button>





        


    </div>

</div>