
<div class="titles" lang="ar" dir="rtl">
    <h1>ברוכים הבאים לMaxProfit!</h1>
    <h2>MaxProfit | TEB - הסכם שימוש בשירותי הטלגרם:</h2>
</div>

<div class = "guidelines" lang="ar" dir = "rtl">
  {{guide}}
</div> 
