
.titles{
    color: honeydew;
    white-space: pre-line;
    background-color: rgb(43, 44, 44);
    justify-content: left;
}


.guidelines{
    color: honeydew;
    white-space: pre-line;
    justify-content: left;
    background-color: rgb(43, 44, 44);

}

