<div class="columnmid" style="font-size: 70%; text-align: right;" lang="ar">  
<h2>עשרת הסוחרים הגדולים בכל הזמנים.</h2>
<br>
ישנם כמה סוחרים לשעבר מפורסמים שעברו לקריירות שונות, כמו ג'ון קי (שכיהן כראש הממשלה ה-38 של ניו זילנד)
וג'ימי וולס (מייסד ויקיפדיה). עם זאת, רשימה זו מורכת מסוחרים הידועים בכך שהיו סוחרים.
הרשימה מתחילה בסוחרים היסטוריים אגדיים ומתקדמת לאלה של ימינו.
<br>
<br>
1.ג'סי ליברמור 
ג'סי לוריסטון ליברמור(1877-1940) היה סוחר אמריקאי שהתפרסם בזכות רווחים והפסדים ענקיים בשוק.
הוא חזה בהצלחה את התרסקות השוק בשנת 1929 ובנה את הונו ל-100 מילון דולר.
<br>
<br>

2.וויליאם דלברט גאן
(1878-1955) ויליאם דלברט גאן היה סוחר שהתמש בשיטות חיזוי שוק על בסיס גיאומטריה, אסטרולוגיה ומתמטיקה עתיקה.
הכלים הטכניים המסתוריים שלו כוללים זוויות ג'אן.

3.ג'ורס סורוס
ג'ורג סורוס נולד ב-1930 הור יו"ר הנהלת קרנות סורוס, אחת החברות המצליחות בדולדות ענף קרנות הגידור.
הוא זכה לתואר "האיש ששבר את בנק אנגליה" בשנת 1992 לאחר מכירתו של הפאונד בשווי 10 מיליארד דולר והניב רווח של מיליארד דולר.
<br>
<br>

4.ג'ים רוג'רס
גיימס רוג'רס ג'וניור (נולד ב1942) הוא יור חברת רוג'רס אחזקות הוא הקים את קרן הקוונטים יחד עם גו'רס סרוס בראשית שנות השבעים, 
שהכניסה לחברה רווח של 4200% במשך 10 שנים. רוג'רס ידוע בזכות קריאתו השורית של השוק בשנות ה-90 וגם בזכות ספריו המפרטים את מסעויו ההרפתקניים.
<br>
<br>

5.ריצ'רד דניס
ריצ'רד ג'יי דניס (נולד בשנת 1949) הטביע את חותמו בעולם המסחר כסוחר מצרכים מבוסס משיקגו. על פי הדיווחים,
הוא רכש הון של כ-200 מליון דולר במשך 10 שנים.
<br>
<br>

6.פול טיודור ג'ונס 
פול טיודור ג'ונס השני (נולד בשנת 1954) הוא מייסד חברת טיודור השקעות אחת מקרנות הגידור המובילות בעולם. טיודור ג'ונס ניהיה ידוע לשמצה לאחר 
שהרוויח כמאה מליון דולר מירידות בשוק במהלך התרסקות השוק ב-1987.
<br>

7.ג'ון פולסון 
ג'ון פולסון (נולד בשנת 1955), עלה לראש העולם הפיננסי לאחר שהרוויח מיליארדי דולרי בשנת 2007 באמצעות החלפות ברירת מחדל אשראי
כדי למכור ביעילות את שוק ההלוואות לסאב פריים למשכנתאות.
<br>
<br>

8.סטיבן כהן
טסיבן כהן (נולד בשנת 1956 הקים קרן מובילה המתמקדת בעיקר במניות סחר. בשנת 2013 הוטל עליו קנס של 1.2 מיליארדר דולר כדי למנוע סחר פנים.
<br>
<br>

9.דיוויד טפר
דיוויד טפר (נולד בשנת 1957) טפר מומחה בהשקעות בחובות במצוקה, השיג מספר ראיונות בCNBC שם בוחנים מקרוב את הצהרותיו.
<br>
<br>

10.ניק ליסון
ניקולס ליסון (נולד בשנת 1967) הוא הסוחר הנוכל שגרם בגלוי לקריסת בנק ברינגס. ליסון שירת ריצה ארבע שנים בכלא בסינגפור,
אולם לאחר מכן קפץ בחזרה והיה מנכ"ל הכדורגל האירי גאלווי יונייטד. 
</div>