<a>
    <img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/nir.png" 
     width="450" height="450" alt="Nir Mazaltarin"/>
    
</a>

<label>
    קוראים לי ניר מזלטרין ואני בן 21, לומד מספר רב של תחומי עסקים , סוחר בבורסה מזה שנתיים, מתווך נדל״ן ומסחר ומנהל מספר עסקים ומיזים שהוקמו על ידי.
    המטרה שלי היא אחת, לייצר את קהילת המסחר , העסקים והיזמות החזקה והאיכותית בעולם!
</label>
סרטון הסברה
<h3>חזון MaxProfit</h3>
מלל של הסרטון - עדיין לא מוכן 


