<div class="columnmid" style="text-align: right; font-size: 70%;" lang="ar" dir="rtl">
<h2>5 הספרים הטובים ביותר לסוחר המתחיל</h2>
<p>1. Currency Trading for Dummies, by Brian Dolan
ספר זה הוא אחד הטובים במגרש למתחילים. הוא מציג הוראות ברורות וקלות לקריאה על סחר במטבעות ותיאורים של שוק המט"ח.
</p>
<br>
<p>
2.Day Trading and Swing Trading the Currency Market, by Kathy Lien
ספרה מעסיק גישה דו-ארצית המשלבת תיאוריה ולמידה מעשית עם תובנה מאוזנת באסטרטגיות המסחר במט"ח הבסיסיות והטכניות שנועדו לייצר רווחים קבועים. 
</p>
<br>
<p>
3.Currency Forecasting: A Guide to Fundamental and Technical Models of Exchange Rate Determination, by Michael Rosenberg
ספר זה משלב את המקרו-כלכלה של מטבע החוץ והדינמיקה המוניטרית הבינלאומית עם ניתוח בסיסי וטכני
</p>
<br>
<p>
4.Japanese Candlestick Charting Techniques, by Steve Nison
הספר מספק חינוך ארוך ומעמיק בנושא תרשימי פמוטים המשמשים גם לעתיד, ספקולציות, גידור, מניות ובכל מקום אחר שניתן לבצע ניתוח טכני. 
</p><br>
<p>
5.How to Make a Living Trading Foreign Exchange, by Courtney Smith
ספר זה מציעה שש אסטרטגיות להרוויח הכנסה קבועה במסחר. 
הוא גם מספק טכניקות חשובות לניהול סיכונים כמו גם חומר על פסיכולוגיה של מסחר. זה כולל הסבר על "כלל הדחייה" הייחודי של סמית ', 
אסטרטגיה שנועדה להכפיל את הרווח שנוצר ממערכות פריצה בסיסיות של ערוצים
</p></div>