<p>
שלום חיילים וסטודנטים יקרים!
<br>
מקספרופיט מפנקת אתכם בהנחה מטורפות לקורסים השונים שלנו, כדי שתוכלו להינות מהם בקלות כמו כולם!
<br>
לקבלת קוד של עד 50% הנחה, יש לשלוח תחילה את תעודת החוגר/ סטודנט •לפלאפון שלנו• לאימות, ולאחר מכן תקבלו את קוד ההנחה!
</p>
