
div {
    overflow: inherit;
}


a{
    text-decoration: none;
    font-size: 100%;
    white-space: normal;
}

button{
    font-size: 100%;
    min-width: min-content;
}


.mat-sidenav-content{
      font-size: 200%;
      text-align: center;
  }


.spacerleft{
    flex: 2 1 auto;
}

.spacer{
    flex: 0.1 0.1 auto;
}

my-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
.routerstyle{
    color: honeydew;
    background-color: rgb(43, 44, 44);
}