<div fxLayout="column"> 
  <mat-toolbar style="height: 7vh; color: honeydew; background-color:rgb(50, 50, 50); position: relative;" lang="en" dir="ltr" class="mat-elevation-z8" >
    <br>
      <button [routerLink]="['']" routerLinkActive="active"  style="background-color: rgb(43, 44, 44);">
        <span><mat-icon>home</mat-icon></span>
      </button>
      <div class="spacerleft"></div>
      <img src="https://maxprofittoolbar.s3.eu-central-1.amazonaws.com/Logo.png" width="12%" >
      <div class="spacerleft"></div>
    <div fxLayout="column"  fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()" dir="rtl">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="spacer"></span>
  </mat-toolbar>
  <mat-sidenav-container fxLayout="column" fxFlexFill class="example-container" style="color: honeydew; background-color:rgb(43, 44, 44); min-height: 93vh !important" lang="en" dir="rtl"> 
    <mat-sidenav  fxLayout="column"  color="honeydew" style="background-color: rgb(43, 44, 44); color: honeydew;" #sidenav mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" mat-button routerLink="/signup"><mat-icon>input</mat-icon>הרשמה</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/login"><mat-icon>account_circle</mat-icon>התחברות</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/guidelines"><mat-icon>check_circle_outline</mat-icon>תנאי שימוש</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/academy"><mat-icon>academy</mat-icon>אקדמיה</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/meta-trader"><mat-icon>attach_money</mat-icon>MetaTrader4</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/journey"><mat-icon> directions_walk</mat-icon>Journey</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/reviews"><mat-icon>feedback</mat-icon>ביקורות</a>
        <br>
        <a (click)="sidenav.toggle()" mat-button routerLink="/feedback"><mat-icon>message</mat-icon>משוב</a>
        <br>
        <div *ngIf="coursesBought">
          
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column"  fxFlexFill>
      <router-outlet class="routerstyle"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

  <mat-toolbar style="height: 10vh; color: honeydew; background-color:rgb(50, 50, 50); position: relative;" lang="en" dir="ltr" class="mat-elevation-z8" >
      <a [routerLink]="['/contact']" routerLinkActive="active">
        <img style="width: 40px; height: 40px;" src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/contact.png">
        <div class="spacer"></div>
        <label>צרו קשר</label>
      </a>

<!--<button ngbDropdownItem><a [routerLink] = "['/run-my-biz']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Run My Biz</a></button>
<button ngbDropdownItem><a [routerLink] = "['/teb']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">TEB+</a></button>
-->