
<div *ngIf="!logged == true">
    <form class="signup">
        <label>שם מלא</label>
        <br>
        <label><input style="color: black;"  type="text" name="fullName" required [(ngModel)]="form.fullName"></label>
        <br>
        <br>
        <label>מין</label>
        <br>
        <label><input style="color: black;" type="radio" name="gender" required value=1 [(ngModel)]="form.gender">זכר</label>
        <br>
        <label><input style="color: black;" type="radio" name="gender" required value=2 [(ngModel)]="form.gender">נקבה</label>
        <br>
        <br>
        <label>ת.ז</label>
        <br>
        <label><input style="color: black;" type="text" name="ID" required [(ngModel)]="form.ID"></label>
        <br>
        <br>
        <label>כתובת מייל</label>
        <br>
        <label><input style="color: black;" type="email" name="email" required [(ngModel)]="form.email"></label>
        <br>
        <label>חזור על המייל</label>
        <br>
        <label><input style="color: black;" type="email" name="email2" required [(ngModel)]="form.mailRepeat"></label>
        <br>
        <br>
        <label>סיסמה</label>
        <br>
        <label><input style="color: black;" type="password" name="password" required [(ngModel)]="form.pass"></label>
        <br>
        <label>חזור על הסיסמה</label>
        <br>
        <label><input style="color: black;" type="password" name="password" required [(ngModel)]="form.passRepeat"></label>
        <br>
        <br> 
        <label>טלפון</label>
        <br>
        <label><input style="color: black;" type="tel" name="phone" required  [(ngModel)]="form.phone"></label>
        <br>
        <br>
        <label>הערות</label>
        <br>
        <button style="color: honeydew; background-color: black;" (click)="onSubmit()">submit</button>
    </form>
<div *ngIf="submitted">{{DisplayMessage}}</div>
</div>
    {{loggedMessage}}
