<div style="white-space: pre-line">
    {{message}}
    <form class="changepass" *ngIf="!logged == true">
        <span>אנא הכניסו את כתובת המייל איתו נרשמתם וקישור לשחזור הסיסמה ישלח אליכם</span>
        <br>
        <label>כתובת אימייל</label>
        <br>
        <label><input style="color: black;" type="text" name="email" required [(ngModel)]="form.email"></label>
        <br>
        <button style="color: honeydew; background-color: black;" (click)="onSubmit()">קבל קוד</button>
    </form>
    <div class="change" *ngIf="change == true">
        <br>
        <label><input style="color: black;" type="text" name="key" required [(ngModel)]="secretKey"></label>
        <br>
        <button style="color: honeydew; background-color: black;" (click)="sendCode()">שלח</button>
    </div>
    <div class="codeValid" *ngIf="validCode == true">
        <label>סיסמה חדשה</label>
        <br>
        <label><input style="color: black;" type="password" name="email" required [(ngModel)]="newPass"></label>
        <br>
        <button style="color: honeydew; background-color: black;" (click)="sendNewPass()">שלח</button>
    </div>
</div>