<h1>ביקורות</h1>


<li *ngFor="let item of recent_reviews; index as i">
    <p>{{item.text}}</p>
</li>
<br>
<br>
<p>הכנס ביקורת כאן</p>
<br>
<label><input style="color: black;" type="email" name="email" required [(ngModel)]="review.email">email</label>
<br>
<textarea style="color: black;"  name="review" required [(ngModel)]="review.text" rows="15" cols="70"></textarea>
<br>
<button style="color: honeydew; background-color: black;" (click)="onSubmit()">submit</button>