

<ng-container
*ngIf="isAdmin; then adminbutton; else none;">
</ng-container>
<ng-template #adminbutton> 
    <button ngbDropdownItem><a [routerLink] = "['/adminzone']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">אזור אדמין כי הוא מלך</a></button>
</ng-template>

<ng-template #none> 
  </ng-template>

<div class="row">
    <ng-container
    *ngIf="logged; then loggedInfo; else unlogged;">
    </ng-container>
    <ng-template #loggedInfo> 
      <p>
        שלום ! {{username}}
        <br>
      <button style="color: honeydew; background-color: black;" (click)="Logout()">התנתקות</button>
      </p>
    </ng-template>
    <ng-template #unlogged> 
     <p>שלום אורח!</p>
    </ng-template>
    <div class="columnsec"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/nir.png" 
     width="300" height="300" alt="Nir Mazaltarin"/>
      <p>Nir Mazaltarin</p>
      <p>Founder of - MaxProfit</p>
      <button ngbDropdownItem><a [routerLink] = "['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About MaxProfit</a></button>
    </div>
    <div class="columnsec">
      <h3>האם אתה יודע מספיק בשביל להצטרף למסע שלנו?</h3>
      <button ngbDropdownItem><a [routerLink] = "['/journey']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">בדוק עכשיו</a></button>
      <h4>אתם נמצאים בחברה טובה!</h4>
      <p> {{count}} סוחרים בחרו בMaxProfit</p>
      <p>ברכישת השכלת המסחר שלהם ובאיתותים איכותיים.</p>
      <button ngbDropdownItem><a [routerLink] = "['/reviews']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">גלה עכשיו למה!</a></button>
      <p>או שתעקוב אחרינו באחד מהקישורים</p>
      <a href="https://instagram.com/maxprofit.teb?igshid=118dqyg2htdtf"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/instagram+icon.png" border ="0" alt="instagram" width="100" height="100"/></a>
      <a href="https://t.me/maxprofit_teb"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/telegram+icon.png" border ="0" alt="telegram channel" width="100" height="100" /></a>
      <a href="https://www.youtube.com/channel/UCtM1rnZiOYQBZrR_PR4MqUg"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/youtube+icon.png" border ="0" alt="youtube channel" width="100" height="100"></a>
    </div>
    <div>
      <h3>הסיפרייה החינמית:</h3>
      <a  style="width: 200px; height: 200px;" ngbDropdownItem [routerLink] = "['/most-famous']" routerLinkActive="active"><img style="width: 200px; height: 200px;" alt="הסוחרים המפורסמים בעולם" src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/fivebesttraders.png"></a>
      <a style="background-color: black;" [routerLinkActiveOptions]="{exact: true}" ngbDropdownItem [routerLink] = "['/step-by-step']" routerLinkActive="active"><button style="width: 200px; height: 200px; color:honeydew; background-color: black;">צעד אחק צעד - להתחיל בעולם המסחר במט״ח</button></a>
      <a style="width: 200px; height: 200px;" ngbDropdownItem [routerLink] = "['/avoid-distractions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img style="width: 200px; height: 200px;" src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/avoiddistractions.png" alt="5 הספרים המפורסמים ביותר" ></a>
    </div>
      <div class="columnmid">
        <h3>ההצלחה שלך היא בראש סדר העדיפויות שלנו</h3>
        <p>סוחרים יקרים, מטרתינו העקרית היא להפוך אתכם לסוחרים מוצלחים, וזו אחת הסיבות שהקמנו את MaxProfit. צוות הסוחרים של מקס פרופיט יעמוד לרשותכם לכל עזרה או עצה שתצטרכו.
        </p>
        <button ngbDropdownItem><a [routerLink] = "['/contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">צור קשר עם סוחרי MaxProfit</a></button>
        <h3>גלה את הקורסים!</h3>
        <p>אנו רוצים לעזור לכם להשיג כלים משמעותיים שיעזרו לכם בחיים במקום לתת ״כמה טיפים״ וזו הסיבה שאנחנו מלמדים אסטרטגיות מסחר מוכחות , כלים רלוונטיים לעולם העסקים, המסחר, ההתנהלות האישית, היזמות והכי חשוב - חשיבותה של העקביות.</p>
        <a [routerLink] = "['/academy-guidelines']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="width: 200px; height: 200px;"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/begginerstutoriala.png" style="width: 200px; height: 200px;"><br> <label>גלה עכשיו למה</label></a>
      </div>
    <div><h3>חייל בסדיר? סטודנט?</h3>
      <h3>כנס וקבל עד 50% הנחה
          ברכישת השירותים השונים!
      </h3>
      <button ngbDropdownItem><a [routerLink] = "['/reduced-prices']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">לקבלת הנחה</a></button>
      <a [routerLink] = "['/bit-checkout']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="width: 200px; height: 200px;"><img src="https://maxprofit-homepage.s3.eu-central-1.amazonaws.com/bit+icon.png" style="width: 200px; height: 200px;"><br>לתשלום בביט</a>
    </div>
</div>


  